* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 1fr 6fr;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 1rem;
}
nav button {
    font-size: 1.4rem;
    outline: none;
    background-color: transparent;
    border: none;
}
#content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.main-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    gap: 20px;
}
.image {
    display: flex;
    margin: auto;
}
img {
    max-width: 15rem
}
