* {
    margin: 0;
    padding: 0;
    list-style-type: none
}
h1 {
    text-align: center;
}
.div-button-new-project{
    display: grid;
}
#new-project-button {
    margin: 20px auto;
    font-size: 1.2rem;
}
.project-header{
    display: flex;
    justify-content: space-around;
    margin: 20px
}
#content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    font-size: 1.2rem;
    gap: 50px
}
.project {
    outline: 1px solid grey;
    padding: 3px;
    display: grid;
    /* grid-template-columns: 0.1fr 1fr 1fr; */
    grid-template-rows: 0.2fr 1fr;    
}

.project-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;    
}
.project-body{
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr;
    gap: 10px;
}
.task-title, .expand-title {    
    font-weight: 700;
}
.due-date-title {    
    font-weight: 700;
    text-align: right;
}

.expand-button{
    width: 2rem;
    margin: auto;
}
.project-task {
    
}
.due-date-task{    
    text-align: right;
}
button {
    font-size: 1.1rem;

}
